Django>=4.2,<5.1
wagtail>=6.1,<6.2
fastapi
fastapi_users
fastapi[all]
uvicorn
uvicorn[standard]
beanie
fastapi-users[beanie,oauth]
pymongo
motor
poetry
poetry-core
pydantic
pydantic[email]
email-validator
flake8
sphinx_rtd_theme
docutils
sphinx
pymongo
mongoose
mongodb
MongoEngine
odmantic
umongo
bcrypt
jsonwebtoken
oauth
OAuthAccount
oauth2
auth_backend
asyncio
app.core.config

